/.vscode
/Arka programs
/arka.cpp
/arka.exe
/backend
/build
/demo.js
/demo.py
/express-practice
/first.class
/first.java
/inheritance1.cpp
/lab.c
/main.class
/output
/practice.c
/practice.css
/practice.html
/practice1.c
/testcase.py
/TIC TAC TOE.css
/TIC TAC TOE.html
/TIC TAC TOE.js